{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "globals": {
    "ENV"
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "comma-dangle": [
      2,
      "only-multiline"
    ],
    "indent": [
      2,
      2
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "quotes": [
      1,
      "single"
    ],
    "semi": [
      2,
      "always"
    ],
    "no-class-assign": 0,
    "react/prop-types": 0
  }
}
